<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>ONcontrol</title>
        <link rel="icon" type="img/png" href="/shared/images/favicon.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/passwordResetPages/passwordReset.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            <a class="headerStart" href="/">
                <img src="/shared/images/oneLineLogo.png" alt="on control">
            </a>
        
            <div class="headerEnd">
                <a id="helpLink" class="headerHide" href="/help">ПОМОЩЬ</a>
        
                <!-- <a id="privacyPolicyLink" class="headerHide" href="/privacy">PRIVACY POLICY</a> -->
        
                <!-- <a id="termsLink" class="headerHide" href="/terms">TERMS AND CONDITIONS</a>         -->
            </div>
        </div>

        <h1 class="title">Введите електронный адрес, чтобы сбросить пароль</h1>

        <form class="form" action="/reset/email" method="post">
            <input class="formInput" name="email" type="email" placeholder="електронная почта">

            <input class="button" type="submit" value="РАЗМЕСТИТЬ">
        </form>

        <p class="text">Вскоре вам будет отправлено электронное письмо с инструкциями по изменению пароля. Если вы не получите письмо в течение одной минуты, попробуйте еще раз.</p>
    </body>
</html>