<div class="spacer"></div>

<div class="footer">
    <p>SANO</p>
    <div>
        <!-- <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms and Conditions</a> -->
        <a href="/help">ПОМОЩЬ</a>
    </div>
</div>