<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>ONcontrol</title>
        <link rel="icon" type="img/png" href="/shared/images/favicon.png">
        <link rel="stylesheet" href="/otherPages/style.css">
        <link rel="stylesheet" href="/shared/shared.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/oneLineLogo.png" alt="on control logo">
            </a>
        
            <div class="headerEnd">
                <a id="helpLink" href="/help">ПОМОЩЬ</a>
        
                <a id="logInButton" class="button" href="/login">ВОЙТИ</a>
        
                <a id="joinButton" class="button" href="/register">РЕГИСТРАЦИЯ</a>
            </div>
        </div>

        <% if(banner !== undefined){ %>
            <% include ../shared/banner.ejs %>
        <% } %>

        <div class="main-background">
            <div class="logo-text">
                <img src="/shared/images/twoLineLogo.png" alt="on control">

                <h1>Оптимизация Будущего</h1>

                <p>Единственная платформа, контролирующая резервы в точках продаж, которая позволяет сократить расходы на продукты, время и отходы за счет автоматизации, машинного обучения и анализа данных.</p>
            </div>
        </div>

        <div class="more-info">
            <h1>ВРЕМЯ – ДЕНЬГИ</h1>

            <p>Для любого владельца ресторана, знакомого с этой истиной (т.е. для всех), интеграция с Sano оказывает немедленный эффект, освобождая время, чтобы сосредоточиться на главных приоритетах. Все хорошие менеджеры понимают, почему так важно контролировать расходы на продукты питания и отходы, но выполнение этой задачи становится обременительным и отодвигается в сторону из-за объема штатных и клиентских проблем, с которыми приходится сталкиваться ежедневно. Это неприятный побочный эффект владельцев ресторанов, которым не хватает поддержки и которые постоянно борются с крайне недостаточной маржой.</p>

            <div class="line-break"></div>

            <h1>КАК ЭТО РАБОТАЕТ</h1>

            <p>Позвольте SANO - сэкономить ваше время / помочь вам сэкономить время</p>

            <ul>
                <li><span>ОТСЛЕЖИВАНИЕ В РЕАЛЬНОМ ВРЕМЕНИ</span> - Запасы обновляются в режиме реального времени с учетом пополнения запасов и покупок клиентов. Это избавляет владельцев от необходимости постоянно проверять, что есть и чего уже недостаёт на полках.</li>
                <li><span>РЕАЛЬНАЯ СТОИМОСТЬ ПРОДУКТОВ</span> - Истинная стоимость каждого ингредиента на полках  отслеживается с учётом отходов, возвратов, образцов и т.д. Это позволяет владельцам бизнеса определять альтернативную стоимость запасов и их влияние на чистую прибыль.</li>
                <li><span>ОБЪЕДИНЕНИЕ РЕЦЕПТОВ</span> - Sano интегрирует рецепты в управление запасами. Это дает владельцам возможность моделировать затраты и прогнозировать прибыль в зависимости от типа, количества и источника ингредиентов.</li>
                <li><span>ГЕНЕРАЦИЯ ОТЧЕТОВ</span> - Sano генерирует еженедельные, ежемесячные и годовые отчеты, которые включают ключевые показатели эффективности и анализ тенденций, чтобы помочь владельцам бизнеса принимать решения. Sano также генерирует еженедельные отчеты выборочной проверки, чтобы гарантировать, что у вас никогда не закончится наиболее предпочитаемый клиентами продукт во время пикового спроса.</li>
                <li><span>УЧЁТ ОТХОДОВ</span> - Sano генерирует ежедневные аудиты для рестораторов. Включение ежедневного аудита в повседневную работу кухни означает, что предотвращение излишних трат станет частью культуры ресторана и будет иметь последствия как для общества, так и для прибыли.</li>
                <li><span>ОТСЛЕЖИВАНИЕ ТРЕНДОВ</span> - Изменения в трендах происходят циклически. Sano помогает выявить эти тенденции. Например, сезонные изменения в спросе на меню, цены на поставку и дефицит местного предложения, чтобы предоставить владельцам информацию, необходимую для управления запасами.</li>
            </ul>
        </div>

        <% include ../shared/loader %>

        <script>
            setTimeout(()=>{
                let banner = document.getElementById("banner");
                if(banner !== null) banner.style.display = "none";
            }, 10000)
        </script>
    </body>
</html>