<div id="loaderContainer" style="display:none;">
    <div class="loader">
        <div class="outer"></div>
        <div class="mid"></div>
        <img class="rusSpinner" src="../shared/images/vectorLogo.png" alt="ONcontrol">
    </div>

    <style>
        .loader .rusSpinner{
            margin: 30px 0 0 20px;
            height: 40px;
            width: 60px;
        }
    </style>
</div>