<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>ONcontrol</title>
        <link rel="icon" type="img/png" href="/shared/images/favicon.png">
        <link rel="stylesheet" href="/otherPages/style.css">
        <link rel="stylesheet" href="/shared/shared.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body id="login">
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/oneLineLogo.png" alt="on control">
            </a>
        </div>

        <% if(banner !== undefined){ %>
            <% include ../shared/banner.ejs %>
        <% } %>

        <form action="/login" method="post">
            <h1> ДОБРО ПОЖАЛОВАТЬ </h1>
    
            <label>Електронная почта
                <input type="text" name="email" type="email" required>
            </label>
    
            <label>Пароль
                <input type="password" name="password" required>
            </label>
    
            <input id="signIn" type="submit" value="ВОЙТИ">
    
            <!-- <h1>OR</h1>
    
            <a class="button buttonWithBorder" href="/cloverlogin">Sign In with Clover</a>
    
            <a class="button buttonWithBorder" href="/squarelogin">Sign In with Square</a> -->
            
            <a href="/reset/email" class="link">Забыли пароль?</a>
    
            <a class="link" href="/register">Регистрировать надо?</a>
        </form>

        <% include ../shared/footer %>

        <script>
            setTimeout(()=>{
                let banner = document.getElementById("banner");
                if(banner !== null) banner.style.display = "none";
            }, 10000);
        </script>
    </body>
</html>
