<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>ONcontrol</title>
        <link rel="icon" type="img/png" href="/shared/images/favicon.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/passwordResetPages/passwordReset.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/oneLineLogo.png" alt="on control">
            </a>
        
            <div class="headerEnd">
                <a id="helpLink" class="headerHide" href="/help">ПОМОЩЬ</a>
            </div>
        </div>

        <% if(banner !== undefined){ %>
            <% include ../shared/banner.ejs %>
        <% } %>

        <h1 class="title">Подтверждение пароля</h1>

        <form class="form" action="/reset" method="post">
            <input name="password" type="password" class="formInput" placeholder="пароль">

            <input name="confirmPassword" type="password" class="formInput" placeholder="повторите пароль">

            <input name="code" type="hidden" value="<%=code%>">

            <input name="id" type="hidden" value="<%=id%>">

            <input class="button" type="submit" value="Подтвердить">
        </form>

        <script>
            setTimeout(()=>{
                let banner = document.getElementById("banner");
                if(banner !== null) banner.style.display = "none";
            }, 10000);
        </script>
    </body>
</html>