<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>ONcontrol</title>
        <link rel="icon" type="img/png" href="/shared/images/favicon.png">
        <link rel="stylesheet" href="/otherPages/style.css">
        <link rel="stylesheet" href="/shared/shared.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body id="register">
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/oneLineLogo.png" alt="on control">
            </a>
        </div>

        <% if(banner !== undefined){ %>
            <% include ../shared/banner.ejs %>
        <% } %>

        <form action="/merchant/create/none" method="post">
            <h1> Регистрировать </h1>

            <label id="nameLabel">Название ресторана
                <input type="text" name="name" required>
            </label>
    
            <label>Електронная почта
                <input type="text" name="email" required>
            </label>
    
            <label>Пароль
                <input type="password" name="password" required>
            </label>
    
            <label>Подтвердите Пароль
                <input type="password" name="confirmPassword" required>
            </label>

            <input class="buttonDisabled" type="submit" value="ВОЙТИ">

            <!-- <h1>OR</h1>

            <a class="button buttonWithBorder" href="/cloverlogin">Sign Up with Clover</a>

            <a class="button buttonWithBorder" href="/squarelogin">Sign Up with Square</a> -->

            <a class="link" href="/login">Уже есть акаунт?  Войти</a>
        </form>

        <% include ../shared/footer %>

        <script>
            setTimeout(()=>{
                let banner = document.getElementById("banner");
                if(banner !== null) banner.style.display = "none";
            }, 10000)
        </script>
    </body>
</html>